# Default ignored files
/shelf/
/workspace.xml
**/.idea/workspace.xml
**/.idea/usage.statistics.xml
**/.idea/tasks.xml
**/.idea/checkstyle-idea.xml
**/.idea/shelf/
# Editor-based HTTP Client requests
/httpRequests/

# Normal Things
.DS_Store
.env
*.log
